%h1 About Bob Hartman

= img "bob_main.jpg"

%p
  <b>Bob Hartman</b> is a guitarist from Billings, MT. His interest in guitar started at the age of 11 when he heard Chet Atkins on the radio.  Playing records back at slow speeds he was able to pick out the notes, then transpose them back to the original key.  Ever since he's been pursuing and exploring many styles of guitar including fingerstyle, classical and flamenco.
  
