#about_section
  %h1 Bob Hartman

  = img "bob_main.jpg"

  %p.about
    <b>Bob Hartman</b> is a guitarist and songwriter from <b>Billings, MT</b> with a wide range of styles and experience. His interest in guitar started at the age of 11 when he heard Chet Atkins on the radio.  Playing records back at slow speeds he was able to pick out the notes, then transpose them back to the original key.  Ever since then he's been pursuing and exploring many styles of guitar including <b>fingerstyle, classical and flamenco</b>.
    
  %p.about
    Bob is married to his wife of over 30 years, Rita, and has 5 adult children. He is a Montana native and has lived in the Billings area most of his life.
#watch_section
  %h1 Watch


  <object width="800" height="450"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=12345194&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=FFFFFF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=12345194&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=FFFFFF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="800" height="450"></embed></object>

#listen_section
  %h1 Listen

  %p
    Audio samples coming soon!


