
/* SUPER IMAGE BG */
#overlay {
	position: absolute;
	left: 20px;
	top: 20px;
	color: #fff;
	padding: 10px;
	background: #000;
	width: 255px;
	border-top: solid 1px #d4d4d4;
	border-left: solid 1px #d4d4d4;
	border-right: solid 1px #666;
	border-bottom: solid 1px #666;	
	z-index:1;
}

fieldset { text-align: left; margin-bottom: 10px; padding: 10px; border:solid 1px #333; }
fieldset * { text-align: left; }
legend { color: #fc0; cursor: pointer; display: block; }

#control { text-align: center; }
#control a { font-weight: bold; padding: 5px;}

#thumbs, #thumbs1, #thumbs2 { text-align: center; }
#thumbs a, #thumbs1 a, #thumbs2 a { display: block; line-height: 22px; float: left; width: 22px;  height: 22px;}

#transition { width:100%;}

#showtitle {
	z-index: 3; position: absolute; bottom: 20px; right: 20px; background: #000; display: none; color: #fff; padding: 10px; width: 275px;
	border-top: solid 1px #d4d4d4; border-left: solid 1px #d4d4d4; border-right: solid 1px #666; border-bottom: solid 1px #666;	
}

a.activeslide { background:red; }

#superbgimage { display: none; }
#superbgimage img { image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }

