/* line 14, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* SUPER IMAGE BG */
/* line 3, ./src/stylesheets/superimagebg.scss */
#overlay {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  padding: 10px;
  background: #000;
  width: 255px;
  border-top: solid 1px #d4d4d4;
  border-left: solid 1px #d4d4d4;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
  z-index: 1;
}

/* line 18, ./src/stylesheets/superimagebg.scss */
fieldset {
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #333;
}

/* line 19, ./src/stylesheets/superimagebg.scss */
fieldset * {
  text-align: left;
}

/* line 20, ./src/stylesheets/superimagebg.scss */
legend {
  color: #fc0;
  cursor: pointer;
  display: block;
}

/* line 22, ./src/stylesheets/superimagebg.scss */
#control {
  text-align: center;
}

/* line 23, ./src/stylesheets/superimagebg.scss */
#control a {
  font-weight: bold;
  padding: 5px;
}

/* line 25, ./src/stylesheets/superimagebg.scss */
#thumbs, #thumbs1, #thumbs2 {
  text-align: center;
}

/* line 26, ./src/stylesheets/superimagebg.scss */
#thumbs a, #thumbs1 a, #thumbs2 a {
  display: block;
  line-height: 22px;
  float: left;
  width: 22px;
  height: 22px;
}

/* line 28, ./src/stylesheets/superimagebg.scss */
#transition {
  width: 100%;
}

/* line 30, ./src/stylesheets/superimagebg.scss */
#showtitle {
  z-index: 3;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #000;
  display: none;
  color: #fff;
  padding: 10px;
  width: 275px;
  border-top: solid 1px #d4d4d4;
  border-left: solid 1px #d4d4d4;
  border-right: solid 1px #666;
  border-bottom: solid 1px #666;
}

/* line 35, ./src/stylesheets/superimagebg.scss */
a.activeslide {
  background: red;
}

/* line 37, ./src/stylesheets/superimagebg.scss */
#superbgimage {
  display: none;
}

/* line 38, ./src/stylesheets/superimagebg.scss */
#superbgimage img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}

/* line 7 */
body {
  background: black;
  font-family: Georgia, Times, "Palatino Linotype", "Book Antiqua", serif;
  font-size: 18pt;
}
/* line 12 */
body #nav {
  color: white;
  background: url('/images/bg_content.png');
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0px;
  margin-bottom: 20px;
  position: fixed;
  top: 142px;
  left: 920px;
  z-index: 20;
}
/* line 23 */
body #nav ul {
  padding: 15px;
}
/* line 25 */
body #nav ul li {
  font-size: 20px;
  line-height: 36px;
}
/* line 28 */
body #nav ul li a {
  color: #f0f0f0;
}
/* line 24, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body #nav ul li a:hover {
  color: white;
}
/* line 30 */
body #nav .contact {
  border-top: 1px solid black;
  margin-top: 0px;
  padding-top: 0px;
}
/* line 34 */
body #nav .contact li {
  font-size: 16px;
  line-height: 28px;
}
/* line 38 */
body #content {
  width: 800px;
  background: url('/images/bg_content.png');
  color: white;
  margin: 0;
  padding: 25px 20px 20px 20px;
  position: relative;
  left: 60px;
  z-index: 10;
}
/* line 48 */
body #content h1 {
  font-size: 38px;
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: normal;
}
/* line 53 */
body #content p {
  font-size: 20px;
  margin: 20px 0;
  line-height: 32px;
  width: 90%;
}
/* line 58 */
body #content p:first-child::first-letter {
  font-size: 60px;
  float: left;
}
/* line 61 */
body #content p.about {
  font-style: italic;
}
/* line 64 */
body #content #footer {
  font-size: 60%;
  padding: 80px 0;
  color: #cccccc;
}
/* line 68 */
body #content #footer a {
  color: #cccccc;
}
/* line 24, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body #content #footer a:hover {
  color: white;
}
/* line 70 */
body #content #footer ul.nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
}
/* line 8, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
body #content #footer ul.nav {
  display: block;
}
/* line 50, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #content #footer ul.nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 41, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #content #footer ul.nav li:first-child, body #content #footer ul.nav li.first {
  padding-left: 0px;
}
/* line 43, /Users/trevorhartman/.rvm/gems/ruby-1.8.7-p249/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #content #footer ul.nav li:last-child, body #content #footer ul.nav li.last {
  padding-right: 0px;
}
